MONGO_URI=mongodb+srv://<username>:<password>@<cluster_name>.drp4kew.mongodb.net/?appName=<database_name>?retryWrites=true&w=majority

// JWT secrets
ACCESS_SECRET=generate_a_secure_random_string_for_access_token
REFRESH_SECRET=generate_a_secure_random_string_for_refresh_token

// JWT secrets and expiration times
ACCESS_EXPIRES=15m
REFRESH_EXPIRES=7d

// Refresh token time to live in database 
//1000 (ms) * 60 (s) * 60 (h) * 24 (d) * 7 (days) = 604800000 ms = 7 days
REFRESH_TOKEN_TTL = 604800000
// 1 hour = 1000 (ms) * 60 (s) * 60 (h) = 3600000 ms
EMAIL_RESET_TOKEN_TTL=3600000
// 10 minutes = 1000 (ms) * 60 (s) * 10 (min) = 600000 ms
PASSWORD_RESET_TOKEN_TTL=600000



// Server configuration
NODE_ENV=development

// Admin user credentials for seeding
ADMIN_NAME=Admin
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=Admin

// Email configuration for password reset
EMAIL_HOST=your_email_smtp_host, e.g. smtp.gmail.com
EMAIL_PORT=your_email_smtp_port
EMAIL_USER=your_email_address
EMAIL_PASS=your_email_password


// Client URL for Email reset link and CORS configuration
CLIENT_URL= frontend URL for CORS configuration and email reset link, e.g. https://myfrontend.com
