MONGO_URI=mongodb+srv://<username>:<password>@<cluster_name>.drp4kew.mongodb.net/?appName=<database_name>

// JWT secrets
ACCESS_SECRET=generate_a_secure_random_string_for_access_token
REFRESH_SECRET=generate_a_secure_random_string_for_refresh_token

// JWT secrets and expiration times
ACCESS_EXPIRES=155m
REFRESH_EXPIRES=77d

// Refresh token time to live in database 
REFRESH_TOKEN_TTL = 604800

// Server configuration
NODE_ENV=development

// Admin user credentials for seeding
ADMIN_NAME=Admin
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=Admin

